.new {
    background-color: black;
    color: white;
}
.main{
    background-color: rgb(255, 251, 251);
    overflow: hidden;
}
header {
    text-align: center;
}

.left {
    width: 65%;
    float: left;
}

.right {
    width: 33%;
    float: right;
}

.s2 {
    background-color: black;
    color: white;
    padding: 7px 10px;
}

.p3 {
    float: right;
}

.b1 {
    padding: 12px;
}

.two {
    margin-top: 20px;
    box-shadow: 5px 2px 5px 2px rgb(207, 198, 198);
}

.s3 {
    background-color: black;
    color: white;
    padding: 3px 5px;
    border-radius: 100px;
}
.one {
    box-shadow: 5px 2px 5px 2px rgb(207, 198, 198);

}
.div1 {
    width: 20%;
    border: bottom;
}

.div2 {

    top: 100%;
    left: 90%;
    position: absolute;

}
#i2 {
      background-color: lightgray;  
    padding: 10px;
    display: flex;
}

#i3 {
    display: flex;
      background-color: lightgray;  
    padding: 13px;

}

.s5 {
    background-color: rgb(237, 237, 237);
}

.s6 {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: small;
}

.div4 {
padding-left: 4px;
   }

.b2 {
    background-color: black;
    color: white;
    padding: 12px;
    margin: 6px;
}
.t1 img {
    width: 60px;
    height: 60px;
}
.t2 {
    font-size: large;
    padding-right: 4px;
}
.p1{
    display: inline-block;
    margin-left: 15px;
}
.s4{
    background-color: black;
    color: white;
    display: inline-block;
}
.s5{
    background-color: lightgray;
    margin: 2px;
}
 .item1{
    box-shadow: 5px 5px 5px 5px rgb(207, 198, 198);
}
.item2{
    box-shadow: 5px 5px 5px 5px rgb(207, 198, 198);
}
.item3{
    box-shadow: 5px 5px 5px 5px rgb(207, 198, 198);
}
h4{
    background-color: lightgray;  
    padding: 13px;
    display: flex;
    font-size: larger;
}
.b3{
    height: 40px;
     background-color:rgb(85, 77, 77) ;
     color: lightgray; 
     border: none; 
}
.f1{
    display: flex;
    background-color: darkgrey;
    height: 200px;
    width: 100%;
    padding-top: 20px;
}
.b4{
    padding: 8px;
    background-color: black;
    color: white;
    margin-top: 7px;
}
.graph{
    margin-left: 5px;
    color: white;
}
.footer{
    background-color: rgb(95, 90, 90);
    height: 30vh;
}
.b5{
    padding: 10px;
    background-color: darkgrey;
    border: none;
    color: lightgray;
    margin-left: 5px;
}

@media screen and (max-width:768px){
    .main{
        display: block;
    }
    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }
}